body {
    background-color: rgb(153, 149, 149);
    color: white;
    display: flex;
    flex-direction: column; 
}

header {
background-color: rgb(128, 0, 85);
padding: 1rem;
border-radius: 5px;
margin: 5px 5px 5px 0;
}

aside {
    background-color: rgb(31, 92, 161);
    padding: 1rem;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

.container {
    background-color: rgb(52, 151, 93);
    padding: 1rem;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

article {
    background-color: rgb(151, 7, 55);
    padding: 1rem;
    border: 10px;
    border-radius: 5px 5px 5px 0;
}

footer {
    background-color: rgb(192, 102, 0);
    padding: 1rem;    
    border-radius: 5px;
    margin: 5px 5px 5px 0;
}

@media screen and (min-width: 481px ) {
 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
 }

 aside {
    width: 50%;
 }
    
}